﻿<!DOCTYPE html>
<html>
<head>
    <title>Sheriff Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="UTF-8" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
    <link rel="stylesheet" href="/index.css" media="screen" charset="utf-8/">
    <meta property="og:title" content="Sheriff Web" />
    <meta property="og:description" content="Sheriff Web" />
    <meta property="og:image" content="" />
</head>

<body>
    @RenderBody()
</body>
</html>