@md: 3.5rem;
@xs: 2.5rem;
@sm: 3.5rem;
@lg: 5rem;

.bl-md {
  height: 3.5rem;
  line-height: 3.5rem;
  // height: auto;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.bl-xs {
  height: 2.5rem;
  line-height: 2.5rem;
  // height: auto;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.bl-sm {
  height: 3.5rem;
  line-height: 3.5rem;
  // height: auto;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.bl-pg {
  height: 4.5rem;
  line-height: 4.5rem;
  // height: auto;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.bl-bg {
  height: 4.75rem;
  line-height: 4.75rem;
  // height: auto;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.bl-lg {
  height: 5rem;
  line-height: 5rem;
  // height: auto;
}

.box-md {
  padding: 0 1.4rem 0 1.4rem;
  height: 3.5rem;

  font-size: 1.3rem;
  line-height: 3.5rem;

  box-sizing: border-box;

  // -webkit-background-clip: border-box;
  // -moz-background-clip: border-box;
  // background-clip: border-box;

  vertical-align: middle;

  white-space: nowrap;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  &::-webkit-input-placeholder {
    font-size: 1.3rem;
    line-height: 3.5rem;
  }

  &:-moz-placeholder {
    font-size: 1.3rem;
    line-height: 3.5rem;
  }

  &::-moz-placeholder {
    font-size: 1.3rem;
    line-height: 3.5rem;
  }

  &:-ms-input-placeholder {
    font-size: 1.3rem;
    line-height: 3.5rem;
  }

  & > img {
    display: inline-block;
    max-height: 1.5rem;
    line-height: 3.5rem;
  }
}

.box-md-square {
  .box-md;
  width: 3.5rem;
  min-width: 3.5rem;
  max-width: 3.5rem;
}

.box-xs {
  padding: 0 1.2rem 0 1.2rem;
  height: 2.5rem;
  font-size: 1.0rem;
  line-height: 2.5rem;

  vertical-align: middle;

  &::-webkit-input-placeholder {
    font-size: 0.9rem;
    line-height: 2.5rem;
  }

  &:-moz-placeholder {
    font-size: 0.9rem;
    line-height: 2.5rem;
  }

  &::-moz-placeholder {
    font-size: 0.9rem;
    line-height: 2.5rem;
  }

  &:-ms-input-placeholder {
    font-size: 0.9rem;
    line-height: 2.5rem;
  }

  img {
    max-height: 0.9rem;
    line-height: 2.5rem;
  }
}

.box-xs-square {
  .box-xs;
  width: 2.5rem;
  min-width: 2.5rem;
  max-width: 2.5rem;
}

.box-sm {
  padding: 0 1.3rem 0 1.3rem;
  height: 3.5rem;
  font-size: 1.2rem;
  line-height: 3.5rem;

  vertical-align: middle;

  &::-webkit-input-placeholder {
    font-size: 1.2rem;
    line-height: 3.5rem;
  }

  &:-moz-placeholder {
    font-size: 1.2rem;
    line-height: 3.5rem;
  }

  &::-moz-placeholder {
    font-size: 1.2rem;
    line-height: 3.5rem;
  }

  &:-ms-input-placeholder {
    font-size: 1.2rem;
    line-height: 3.5rem;
  }

  img {
    max-height: 1.3rem;
    line-height: 3.5rem;
  }
}

.box-sm-square {
  .box-sm;
  width: 3.5rem;
  min-width: 3.5rem;
  max-width: 3.5rem;
}

.box-lg {
  padding: 0 1.6rem 0 1.6rem;
  height: 5rem;
  font-size: 1.6rem;
  line-height: 5rem;

  vertical-align: middle;

  &::-webkit-input-placeholder {
    font-size: 1.6rem;
    line-height: 5rem;
  }

  &:-moz-placeholder {
    font-size: 1.6rem;
    line-height: 5rem;
  }

  &::-moz-placeholder {
    font-size: 1.6rem;
    line-height: 5rem;
  }

  &:-ms-input-placeholder {
    font-size: 1.6rem;
    line-height: 5rem;
  }

  img {
    max-height: 1.7rem;
    line-height: 5rem;
  }
}

.box-lg-square {
  .box-lg;
  width: 5rem;
  min-width: 5rem;
  max-width: 5rem;
}

.box-md-sm {
  .box-md;
  font-size: 1.2rem;
  line-height: 3.5rem;

  vertical-align: middle;

  &::-webkit-input-placeholder {
    font-size: 1.2rem;
    line-height: 3.5rem;
  }

  &:-moz-placeholder {
    font-size: 1.2rem;
    line-height: 3.5rem;
  }

  &::-moz-placeholder {
    font-size: 1.2rem;
    line-height: 3.5rem;
  }

  &:-ms-input-placeholder {
    font-size: 1.2rem;
    line-height: 3.5rem;
  }

  img {
    max-height: 1.3rem;
    line-height: 3.5rem;
  }
}

.box-sm-square {
  .box-md-sm;
  width: 3.5rem;
  min-width: 3.5rem;
  max-width: 3.5rem;
}
