.btn {
  display: inline-block;
  margin: 0;
  border-radius: 0;
  border: 0px solid transparent;
  white-space: nowrap;
  position: relative;

  font-weight: normal;
  text-align: center;

  touch-action: manipulation;

  outline: none !important;

  cursor: pointer;

  pointer-events: all;

  .box-md;

  .transition(background-color 0.1s, color 0.1s);

  & > * {
    vertical-align: baseline !important;
  }

  & > .fa {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &[disabled], &.disabled {
    pointer-events: none;
  }

  &::after {
    height: 1.8rem;
    width: 1.8rem;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 2px solid rgba(0, 174, 239, .15);
    border-right: 2px solid rgba(0, 174, 239, .15);
    border-bottom: 2px solid rgba(0, 174, 239, .15);
    border-top: 2px solid rgba(0, 174, 239, .8);
    border-radius: 100%;

    position: absolute !important;
    left: 50%;
    top: 50%;
    .transition(opacity 0.2s);
    z-index: 11;
    content: "";

    opacity: 0;
    pointer-events: none;
  }

  &[loading], &.loading {
    color: transparent;
    pointer-events: none;

    &::after  {
      opacity: 1;
    }
  }

  &.btn-primary {
    color: #fff;
    background-color: #2196f3;

    &:hover, &:hover, &:focus {
      border: 0px solid transparent;
      background-color: #45a8f6;
      box-shadow: none;
    }

    &:active, &.active  {
      border: 0px solid transparent;
      background-color: #1d86d9;
      box-shadow: none;
    }

    &[disabled], &.disabled {
      background-color: #aec0d2;
    }

    &.loading {
      background-color: #1d86d9;
    }

    &::after {
      border-left: 2px solid rgba(255, 255, 255, .15);
      border-right: 2px solid rgba(255, 255, 255, .15);
      border-bottom: 2px solid rgba(255, 255, 255, .15);
      border-top: 2px solid rgba(255, 255, 255, .8);
    }
  }

  &.btn-loblo {
    background-color: #BCCBCF;
    color: #E7E7E7;

    &:hover, &:hover, &:focus  {
      border: 0px solid transparent;
      background-color: #d1e2e7;
      box-shadow: none;
    }

    &:active, &.active  {
      border: 0px solid transparent;
      background-color: #94acb3;
      box-shadow: none;
    }

    &[disabled], &.disabled {
      background-color: #a3adb0;
    }

    &.loading {
      background-color: #89a9b3;
    }

    &::after {
      border-left: 2px solid rgba(255, 255, 255, .15);
      border-right: 2px solid rgba(255, 255, 255, .15);
      border-bottom: 2px solid rgba(255, 255, 255, .15);
      border-top: 2px solid rgba(255, 255, 255, .8);
    }
  }

  &.btn-danger {
    color: #fff;
    background-color: #FC5457;

    &:hover, &:hover, &:focus  {
      border: 0px solid transparent;
      background-color: #fa7578;
      box-shadow: none;
    }

    &:active, &.active  {
      border: 0px solid transparent;
      background-color: #fb3e41;
      box-shadow: none;
    }

    &[disabled], &.disabled {
      background-color: #d2afaf;
    }

    &.loading {
      background-color: #e4383b;
    }

    &::after {
      border-left: 2px solid rgba(255, 255, 255, .15);
      border-right: 2px solid rgba(255, 255, 255, .15);
      border-bottom: 2px solid rgba(255, 255, 255, .15);
      border-top: 2px solid rgba(255, 255, 255, .8);
    }
  }

  &.btn-default {
    // color: #fff;

    &:hover, &:hover, &:focus {
      border: 0px solid transparent;
      box-shadow: none;
    }

    &:active, &.active {
      border: 0px solid transparent;
      box-shadow: none;
    }

    &.loading {
      background-color: #1d86d9;
    }
  }

  &.indigo {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }

  &.width-full {
    width: 100%;
  }

  &.btn-xs {
    .box-xs;
  }

  &.btn-sm {
    .box-sm;
  }

  &.btn-lg {
    .box-lg;
  }

  &.box-md-sm {
    .box-md-sm;
  }

  &.btn-auto {
    height: auto;
    line-height: normal;
  }

  &.btn-img {
    padding: 0;
    height: auto;
    width: auto;
    border: 0px solid transparent;
    box-shadow: none;

    .transition(opacity 0.1s);

    img {
      max-width: 2rem;
      max-height: 2rem;
    }

    &:hover, &:hover, &:focus  {
      opacity: 0.6;
    }

    &:active, &.active  {
      box-shadow: none;
      opacity: 0.4;
    }

    &.btn-xs {
      img {
        max-width: 2rem;
        max-height: 2rem;
      }
    }

    &.btn-sm {
      img {
        max-width: 2rem;
        max-height: 2rem;
      }
    }

    &.btn-lg {
      img {
        max-width: 2rem;
        max-height: 2rem;
      }
    }
  }
}
