#title-bar {
    position: fixed;
    -webkit-app-region: drag;
    height: @xs;
    background-color: #BCCBCF;
    padding: none;
    margin: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 999;
    pointer-events: all;

    #title {
        position: fixed;
        top: 0px;
        left: 10px;
        height: @xs;
        vertical-align: middle;
        
        font-size: 1.4rem;
        font-weight: 600;

        .box-xs;
    }

    #title-bar-btns {
        -webkit-app-region: no-drag;
        position: fixed;
        top: 0px;
        right: 0px;
        display: table;

        & > * {
            display: table-cell;
            margin: 0 !important;

            .btn;
            .btn-default;
            .btn-xs;
        }
     }

    & + * {
        display: block;
        margin-top: @xs;
    }
}