.col-centered {
  float: none;
  margin: 0 auto;
}

.container-table {
  display: table;
  height: 100%;
  width: 100%;

  & > * {
    display: table-cell;
  }
}

.valign-middle {
  vertical-align: middle;
}
