input.sp-form-control {

  outline: none !important;

  pointer-events: all;

  &[type=text], &[type=email], &[type=password] {
    border-radius: 0;
    border: none;
    color: #4e5859;
    background-color: #fff;

    position: relative;

    .box-md;

    border: 1px solid transparent;
    .box-shadow(none);

    .transition(border 0.2s);

    &::-webkit-input-placeholder {
      color: #8ea6ac;
    }

    &:-moz-placeholder {
      color: #8ea6ac;
    }

    &::-moz-placeholder {
      color: #8ea6ac;
    }

    &:-ms-input-placeholder {
      color: #8ea6ac;
    }

    &:focus {
      border: 1px solid #2196f3;
    }

    &::after {
      height: 1.8rem;
      width: 1.8rem;
      -webkit-animation: rotation .6s infinite linear;
      -moz-animation: rotation .6s infinite linear;
      -o-animation: rotation .6s infinite linear;
      animation: rotation .6s infinite linear;
      border-left: 2px solid rgba(0, 174, 239, .15);
      border-right: 2px solid rgba(0, 174, 239, .15);
      border-bottom: 2px solid rgba(0, 174, 239, .15);
      border-top: 2px solid rgba(0, 174, 239, .8);
      border-radius: 100%;

      position: absolute !important;
      right: 0px;
      top: 50%;
      .transition(opacity 0.2s);
      z-index: 11;
      content: "";

      opacity: 0;
      pointer-events: none;
    }

    &[loading], &.loading {
      &::after {
        opacity: 1;
      }
    }

    // &[disabled], &.disabled {
    //   background-color: #f0f0f0;
    //   color: #C4C5C6;
    //   pointer-events: none;
    // }

    &.sp-xs {
      .box-xs;
    }

    &.sp-sm {
      .box-sm;
    }

    &.sp-lg {
      .box-lg;
    }
  }
}

.sp-input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  font-weight: normal;

  margin: 0;
  padding: 0;

  border-spacing: 0 !important;
  border-collapse: separate;

  outline: none !important;

  pointer-events: all;

  & > * {
    display: table-cell;
    vertical-align: middle;

    & > * {
      vertical-align: baseline !important;
    }

    & > .fa {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  & > .sp-form-control {
    width: 100%;
  }

  // &.has-success > input.sp-form-control {
  //   &:focus {
  //     border: 1px solid #299d1b;
  //   }
  // }

  & > .sp-input-icon {
    // position: absolute;
    z-index: 1;
    width: 0;
    max-width: 0;
    overflow: visible;

    margin: 0 !important;

    padding-left: 0 !important;
    padding-right: 0 !important;

    // transform: translateX(2px);

    .text.center;

    & > .fa {
      color: #a8bbc0;
    }
  }

  & > * + input.sp-form-control {
    border-left: 1px solid #fff;
  }

  & > input.sp-form-control:not(:last-child) {
    border-right: 0px solid transparent;
  }

  & > .sp-input-group-btn {
    margin: 0 !important;

    &.sp-as-addon {
      padding-left: 0 !important;
      padding-right: 0 !important;

      .text.center;
    }

    .transition(border 0.2s, background-color 0.2s, color 0.2s);

    // color: #2b9bf4;
    // background-color: #f6f6f6;

    white-space: nowrap;
    position: relative;

    cursor: pointer;

    pointer-events: all;

    outline: none !important;

    .box-md;

    &[disabled], &.disabled {
      pointer-events: none;
    }

    &::after {
      height: 1.8rem;
      width: 1.8rem;
      -webkit-animation: rotation .6s infinite linear;
      -moz-animation: rotation .6s infinite linear;
      -o-animation: rotation .6s infinite linear;
      animation: rotation .6s infinite linear;
      border-left: 2px solid rgba(0, 174, 239, .15);
      border-right: 2px solid rgba(0, 174, 239, .15);
      border-bottom: 2px solid rgba(0, 174, 239, .15);
      border-top: 2px solid rgba(0, 174, 239, .8);
      border-radius: 100%;

      position: absolute !important;
      left: 50%;
      top: 50%;
      .transition(opacity 0.2s);
      z-index: 11;
      content: "";

      opacity: 0;
      pointer-events: none;
    }

    &[loading], &.loading {
      color: transparent;
      pointer-events: none;

      &::after  {
        opacity: 1;
      }
    }

    color: #2b9bf4;
    background-color: #f6f6f6;

    &:hover, &:hover, &:focus  {
      background-color: #ebebeb;
    }

    &:active, &.active  {
      background-color: #d7d5d5;
    }

    &[disabled], &.disabled {
      background-color: #d2d2d2;
    }

    &.loading {
      background-color: #dadada;
    }

    &.default {
      background-color: #fff;
      color: #2b9bf4;

      &:hover, &:hover, &:focus  {
        background-color: #e6e6e6;
      }

      &:active, &.active  {
        background-color: #d7d7d7;
      }

      &[disabled], &.disabled {
        background-color: #ddd;
      }

      &.loading {
        background-color: #ddd;
      }
    }

    &.primary {
      background-color: #2196f3;
      color: #fff;

      &:hover, &:hover, &:focus  {
        background-color: #45a8f6;
      }

      &:active, &.active  {
        background-color: #1d86d9;
      }

      &[disabled], &.disabled {
        background-color: #aec0d2;
      }

      &.loading {
        background-color: #1d86d9;
      }

      &::after {
        border-left: 2px solid rgba(255, 255, 255, .15);
        border-right: 2px solid rgba(255, 255, 255, .15);
        border-bottom: 2px solid rgba(255, 255, 255, .15);
        border-top: 2px solid rgba(255, 255, 255, .8);
      }
    }

    &.loblo {
      background-color: #BCCBCF;
      color: #fff;

      &:hover, &:hover, &:focus  {
        background-color: #d1e2e7;
      }

      &:active, &.active  {
        background-color: #94acb3;
      }

      &[disabled], &.disabled {
        background-color: #a3adb0;
      }

      &.loading {
        background-color: #89a9b3;
      }

      &::after {
        border-left: 2px solid rgba(255, 255, 255, .15);
        border-right: 2px solid rgba(255, 255, 255, .15);
        border-bottom: 2px solid rgba(255, 255, 255, .15);
        border-top: 2px solid rgba(255, 255, 255, .8);
      }
    }

    &.danger {
      background-color: #FC5457;
      color: #fff;

      &:hover, &:hover, &:focus  {
        background-color: #fa7578;
      }

      &:active, &.active  {
        background-color: #fb3e41;
      }

      &[disabled], &.disabled {
        background-color: #d2afaf;
      }

      &.loading {
        background-color: #e4383b;
      }

      &::after {
        border-left: 2px solid rgba(255, 255, 255, .15);
        border-right: 2px solid rgba(255, 255, 255, .15);
        border-bottom: 2px solid rgba(255, 255, 255, .15);
        border-top: 2px solid rgba(255, 255, 255, .8);
      }
    }

    &.btn-auto {
      height: auto;
      line-height: normal;
    }
  }

  & > .sp-input-group-addon {
    .text.center;

    &.label {
      .text.left;
    }

    &:not(.label) {
      margin: 0 !important;

      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .transition(border 0.2s);

    color: #2b9bf4;
  }

  & > * {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    border-left: 0px solid transparent;
    border-right: 0px solid transparent;

    &:first-child {
      border-left: 1px solid transparent;
    }

    &:last-child {
      border-right: 1px solid transparent;
    }
  }

  & > input.sp-form-control:focus ~ * {
    border-top: 1px solid #2196f3;
    border-bottom: 1px solid #2196f3;

    &:last-child {
      border-right: 1px solid #2196f3;
    }
  }

  &[disabled], &.disabled {
    & > .sp-input-group-addon {
      background-color: #E6E7E8 !important;
      color: #B5B6B7;

      pointer-events: none !important;
    }
    & > input.sp-form-control {
      background-color: #E6E7E8 !important;
      color: #B5B6B7;

      pointer-events: none !important;
    }
    & > input.sp-input-group-btn {
      background-color: #E6E7E8 !important;
      color: #B5B6B7;

      pointer-events: none !important;
    }
    color: #B5B6B7;
    pointer-events: none !important;
  }

  &.rounded {
    & > *:first-child {
      border-top-left-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
    }

    & > *:last-child {
      border-top-right-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }
  }

  &.white {
    & > .sp-form-control {
      background-color: #fff;
    }

    & > .sp-input-group-addon {
      background-color: #fff;
    }
  }

  &.text-blue {
    & > .sp-form-control {
      color: #2b9bf4;
    }

    & > .sp-input-group-addon {
      color: #2b9bf4;
    }
  }

  &.light-grey {
    & > .sp-form-control {
      background-color: #E6E7E8;
      color: #262728;
    }

    & > .sp-input-group-addon {
      color: #2b9bf4;
      // background-color: #fff;
      background-color: #E6E7E8;
    }
  }

  &.simple {
    & > .sp-form-control {
      color: #2b9bf4;
      background-color: #f6f6f6;
    }

    & > .sp-input-group-addon {
      color: #2b9bf4;
      background-color: #f6f6f6;
    }
  }

  &.light {
    & > .sp-form-control {
      background-color: #f5f5f5;
      color: #262728;
    }

    & > .sp-input-group-addon {
      color: #2b9bf4;
      // background-color: #fff;
      background-color: #f5f5f5;
    }
  }

  &.error {
    & > * {
      &:first-child {
        border-left: 2px solid #f49595;
      }
    }

    & > input.sp-form-control:focus {
      border-left: 1px solid #f42121 !important;

      &:first-child {
        border-left-width: 2px !important;
      }
    }
  }

  &.width-full {
    width: 100%;
  }

  & > input.sp-form-control {
    .box-md;
  }

  & > .sp-input-group-btn {
    .box-md;

    &.square {
      .box-md-square
    }
  }

  & > .sp-input-group-addon {
    .box-md;

    &.square {
      .box-md-square
    }
  }

  & > .sp-input-icon {
    .box-md;
    width: 0 !important;

    & > * {
      .box-md;
      width: @md;
    }

    & + input.sp-form-control {
      padding-left: @md;
    }
  }

  &.sp-xs {
    & > .sp-input-group-btn {
      .box-xs;

      &.square {
        .box-xs-square
      }
    }

    & > .sp-input-group-addon {
      .box-xs;

      &.square {
        .box-xs-square;
      }
    }

    & > .sp-input-icon {
      .box-xs;
      width: 0 !important;

      & > * {
        .box-xs;
        width: @xs;
      }

      & + input.sp-form-control {
        padding-left: @xs;
      }
    }

    & > input.sp-form-control {
      .box-xs;
    }
  }

  &.sp-sm {
    & > .sp-input-group-btn {
      .box-sm;

      &.square {
        .box-sm-square
      }
    }

    & > .sp-input-group-addon {
      .box-sm;

      &.square {
        .box-sm-square
      }
    }

    & > .sp-input-icon {
      .box-sm;
      width: 0 !important;

      & > * {
        .box-sm;
        width: @sm;
      }

      & + input.sp-form-control {
        padding-left: @sm;
      }
    }

    & > input.sp-form-control {
      .box-sm;
    }
  }

  &.sp-lg {
    & > .sp-input-group-btn {
      .box-lg;

      &.square {
        .box-lg-square
      }
    }

    & > .sp-input-group-addon {
      .box-lg;

      &.square {
        .box-lg-square
      }
    }

    & > .sp-input-icon {
      .box-lg;
      width: 0 !important;

      & > * {
        .box-lg;
        width: @lg;
      }

      & + input.sp-form-control {
        padding-left: @lg;
      }
    }

    & > input.sp-form-control {
      .box-lg;
    }
  }
}

.dropdown {
  & > .sp-input-group {
    cursor: pointer;

    .transition(opacity 0.2s);

    &:hover, &:focus {
      opacity: 0.8;
    }

    &:active, &.active {
      opacity: 0.6;
    }
  }

  & > .sp-input-group.grey {
    & > .sp-form-control {
      color: #2b9bf4;
    }

    background-color: #E6E7E8 !important;
  }

  &.open {
    & > .sp-input-group {
      // opacity: 0.8;
      cursor: default;

      .box-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.1));

      &.indigo {
        & > *:first-child {
          border-bottom-left-radius: 0rem;
        }

        & > *:last-child {
          border-bottom-right-radius: 0rem;
        }
      }
    }
  }
}

.sp-dropdown {
  & > .sp-input-group {
    cursor: pointer;

    .transition(opacity 0.2s);

    &:hover, &:focus {
      opacity: 0.8;
    }

    &:active, &.active {
      opacity: 0.6;
    }
  }

  &.open {
    & > .sp-input-group {
      opacity: 0.8;
      cursor: default;

      .box-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.1));

      &.indigo {
        & > *:first-child {
          border-bottom-left-radius: 0rem;
        }

        & > *:last-child {
          border-bottom-right-radius: 0rem;
        }
      }
    }
  }
}

.sp-form-trigger {
  // opacity: 0;
  max-height: 0;
  max-width: 0;
  opacity: 0;

  & + .label {
    display: inline-block;
    position: relative;
    // box-shadow: inset 0 0 0px 1px #d5d5d5;
    background: #E6E7E8;
    // text-indent: -5000px;
    .box-xs;
    width: 7rem;
    border-radius: 0.4rem;

    margin: 0;

    cursor: pointer;

    pointer-events: all;

    .transition(opacity 0.2s);
    .will-change(opacity);
  }

  // & + label:before {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   .box-xs;
  //   // top: 0;
  //   left: 0;
  //   width: 100%;
  //   border-radius: 0.4rem;
  //   background: #E6E7E8;
  //   -moz-transition: .25s ease-in-out;
  //   -webkit-transition: .25s ease-in-out;
  //   transition: .25s ease-in-out;
  // }

  & + .label::after {
    position: absolute;
    display: block;
    .box-xs;
    // .box-xs-square;
    // top: 0;
    left: 0;
    right: auto;
    border-radius: 0.4rem;
    background: #B4B5B6;

    content: attr(data-off);
    color: #fff;
    // box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  &.white {
    & + .label {
      background: #fff;
    }
  }

  &.error {
    & + .label {
      border-left: 2px solid #f49595;
    }
  }

  // &:checked + label:before {
  //   width: 100%;
  //   background: rgba(43, 155, 244, 1);
  // }

  &:checked + .label::after {
    left: auto;
    right: 0;
    content: attr(data-on);
    background-color: rgba(43, 155, 244, 1);
    // box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
  }

  &:focus + .label, &:hover + .label, &.hover + .label {
    opacity: 0.6;
  }

  &:active + .label, &.active + .label {
    opacity: 1;
  }

  // position: relative;
  //
  // .box-md;
  // width: 5rem;
  //
  // &::before {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //
  //   background-color: #E6E7E8;
  //
  // }
  //
  // &::after {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //
  //   background-color: #B4B5B6;
  // }
}

.sp-textarea {
  color: #4e5859;
  background-color: #fff;
  width: 100%;

  border: none;
  overflow: auto;

  outline: none !important;

  resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  .transition(0.2s);

  .padding-1;

  &::-webkit-input-placeholder {
    color: #8ea6ac;
  }

  &:-moz-placeholder {
    color: #8ea6ac;
  }

  &::-moz-placeholder {
    color: #8ea6ac;
  }

  &:-ms-input-placeholder {
    color: #8ea6ac;
  }

  &:focus {
    border: none;
    // background-color: rgb(33, 150, 244);
    .box-shadow(0px 0px 4px 1px rgba(33, 150, 244, 0.4));
  }
}

.sp-group-red {
  position: relative;

  padding-left: 1rem;

  &::after {
    position: absolute;
    display: block;
    content: "";
    background-color: #F85657;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.25rem;
  }
}
