@-webkit-keyframes rotation {
  from {
    .transform(translateX(-50%) translateY(-50%) rotate(0deg));
  }
  to {
    .transform(translateX(-50%) translateY(-50%) rotate(359deg));
  }
}

@-moz-keyframes rotation {
  from {
    .transform(translateX(-50%) translateY(-50%) rotate(0deg));
  }
  to {
    .transform(translateX(-50%) translateY(-50%) rotate(359deg));
  }
}

@-o-keyframes rotation {
  from {
    .transform(translateX(-50%) translateY(-50%) rotate(0deg));
    -o-transform: rotate(0deg);
  }
  to {
    .transform(translateX(-50%) translateY(-50%) rotate(359deg));
  }
}

@keyframes rotation {
  from {
    .transform(translateX(-50%) translateY(-50%) rotate(0deg));
  }
  to {
    .transform(translateX(-50%) translateY(-50%) rotate(359deg));
  }
}

.loader {
  height: 1.8rem;
  width: 1.8rem;
  position: relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 2px solid rgba(0, 174, 239, .15);
  border-right: 2px solid rgba(0, 174, 239, .15);
  border-bottom: 2px solid rgba(0, 174, 239, .15);
  border-top: 2px solid rgba(0, 174, 239, .8);
  border-radius: 100%;

  // position: absolute;
  // left: 50%;
  // top: 50%;
  // .transition(opacity 0.2s);
  // .transform(translateX(-50%) translateY(-50%));
  // z-index: 11;
  content: "";

  pointer-events: none;
}
