#loading, .loading-screen {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  background-color: #fff;

  &.loading-screen {
    background-color: #f2f6f8;
  }

  .will-change(opacity);

  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  color: #666;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    & > * {
      display: block;
      margin-top: -2.5rem;
    }

    .loader {
      height: 3rem;
      width: 3rem;
      border-width: 4px;
      margin-top: 2.5rem;
      left: 50%;
    }
  }
}
