.scrollable-menu {
  height: auto;
  max-height: 20rem;
  overflow-x: visible;
  overflow-y: auto;

  pointer-events: all;
}

.scrollable-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;

  pointer-events: all;
}

.scrollable-menu::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: lightgray;

  pointer-events: all;
}
