// @import (less) '../bower_components/bootstrap/less/bootstrap.less';
@import (less) "./bootstrap/variables.less";
@import (less) "./bootstrap/mixins.less";
@import (less) "./bootstrap/normalize.less";
@import (less) "./bootstrap/print.less";
@import (less) "./bootstrap/scaffolding.less";
@import (less) "./bootstrap/type.less";
@import (less) "./bootstrap/code.less";
@import (less) "./bootstrap/grid.less";
@import (less) "./bootstrap/buttons.less";

@import (less) "./mixin.less";
@import (less) './padding.less';
@import (less) "./loader.less";
@import (less) "./text.less";
@import (less) "./font-awesome.less";

// @font-face {
//     font-family: "Noto Sans";
//     src: url('../font/NotoSans-Regular.ttf');
//     font-weight: normal;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: "Noto Sans";
//     src: url('../font/NotoSans-Bold.ttf');
//     font-weight: bold;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: "Noto Sans";
//     src: url('../font/NotoSans-BoldItalic.ttf');
//     font-weight: bold;
//     font-style: italic;
// }
//
// @font-face {
//     font-family: "Noto Sans";
//     src: url('../font/NotoSans-Italic.ttf');
//     font-weight: normal;
//     font-style: italic;
// }

* {
  pointer-events: none;
}

html, body {
  height: 100%;
  font-size: 0.64rem;
  line-height: 0.64rem * 2;
  // font-family: Helvetica, Arial, sans-serif !important;
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: #f2f6f8;
  height: 100%;

  color: #0e1b1d;
  font-weight: 400;
  font-size: 1.1rem;

  pointer-events: all;
}

// label {
//   font-weight: 400;
// }

.absolute-center-container {
  position: absolute;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  & > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.cols:after {
  content: "";
  display: table;
  clear: both;
}

@import (less) "./selectable.less";

@import (less) "./loading.less";

@mobile: 600px;
@tablet: 1000px;
@pc-old: 1250px;
@pc: 1400px;
@ultra: 2000px;
@mega: 2600px;

@import (less) "./header.less";
@import (less) "./box.less";
@import (less) "./input.less";
@import (less) "./btn.less";
@import (less) "./scrollable-menu.less";

@import (less) "./desktop.less";

//Special

@import (less) "./special/inlines.less";
@import (less) "./special/horizontal-layout.less";
@import (less) "./special/vertical-layout.less";
@import (less) "./special/table-layout.less";
@import (less) "./special/layout.less";
@import (less) "./special/logo.less";

@import (less) "./special/left-menu.less";
@import (less) "./special/top-menu.less";

@import (less) "./special/module.less";
@import (less) "./special/pane.less";

@import (less) "./special/modal.less";
@import (less) "./special/popup.less";
@import (less) "./special/dropdown.less";
@import (less) "./special/dropdown2.less";
@import (less) "./special/form.less";
@import (less) "./special/menu.less";
@import (less) "./special/table.less";
@import (less) "./special/pagination.less";
@import (less) "./special/tag.less";
@import (less) "./special/calendar.less";
@import (less) "./special/image.less";

@import (less) "./special/progress.less";
@import (less) "./special/diagram.less";
@import (less) "./special/chart-donut.less";