.text {
  &.atto {
    font-size: 0.76rem;
    line-height: 0.70rem;
  }

  &.nano {
    font-size: 1.0rem;
    line-height: 0.95rem;
  }

  &.micro {
    font-size: 1.1rem;
    line-height: 1.05rem;
  }

  &.mini {
    font-size: 1.3rem;
    line-height: 1.2rem;
  }

  &.medium {
    font-size: 1.45rem;
    line-height: 1.3rem;
  }

  &.large {
    font-size: 1.6rem;
    line-height: 1.50rem;
  }

  &.big {
    font-size: 2.0rem;
    line-height: 1.85rem;
  }

  &.verymedium {
    font-size: 3.0rem;
    line-height: 2.7rem;
  }

  &.verylarge {
    font-size: 3.5rem;
    line-height: 3.0rem;
  }

  &.verybig {
    font-size: 5.0rem;
    line-height: 4.0rem;
  }

  &.normal {
    // font-size: 5.0rem;
    line-height: normal;
  }

  &.sub {
    color: #696B6B;
  }

  &.subsub {
    color: #a8bbc0;
  }

  &.red {
    color: #F85657;
  }

  &.warning {
    color: #f9ed56;
  }

  &.blue {
    color: #2D99F4;
  }

  &.green {
    color: #AFE82E;
  }

  &.white {
    color: #fff;
  }

  &.bold {
    font-weight: 600;
  }

  &.nowrap {
    white-space: nowrap;
  }

  &.thin {
    font-weight: 400;
  }

  &.thick {
    font-weight: 500;
  }

  &.bold {
    font-weight: 600;
  }

  &.top {
    vertical-align: top;
  }

  &.middle {
    vertical-align: middle;
  }

  &.bottom {
    vertical-align: bottom;
  }

  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}
