﻿<div id="loading">
    <div class="content">
        [Инициализация]
        <div class="loader"></div>
    </div>
</div>
<div id="app-container"></div>
<script src="/index.js" charset="utf-8"></script>