.sp-calendar {

  .unselectable;

  .pointer {
    cursor: pointer;

    .transition(0.2s);

    outline: none;

    pointer-events: all;

    &:focus, &:hover, &.hover {
      color: #359BF1;
      background-color: #F6F6F6;
    }

    &:focus {
      box-shadow: inset 0 0 15px 0 rgba(53, 155, 241, 0.3);
    }

    &:active, &.active {
      color: #fff;
      background-color: #359BF1;
    }

    &.active {
      color: #fff;
      background-color: #79bbf4;
    }

    &.error {
      color: #f95657;

      &:focus {
        box-shadow: inset 0 0 15px 0 rgba(249, 86, 87, 0.3);
      }
    }

    &:empty:before{
      content: attr(placeholder);
      display: block; /* For Firefox */
    }

    &.month {
      color: #919595;
    }

    &.disabled {
      pointer-events: none;
      color: #cddde2;
    }
  }
}

.input[contenteditable] {
  cursor: text;

  .transition(0.2s);
  .will-change(box-shadow, border);

  outline: none;

  border: 1px solid transparent;

  pointer-events: all;

  &:focus, &:hover, &.hover {
    color: #359BF1;
    background-color: #F6F6F6;
  }

  &:focus {
    border: 1px solid #2196f3;
    // box-shadow: inset 0 0 15px 0 rgba(53, 155, 241, 0.3);
  }

  &:active, &.active {
    // color: #fff;
    // background-color: #359BF1;
  }

  &.active {
    // color: #fff;
    // background-color: #79bbf4;
  }

  &.error {
    color: #f95657;

    &:focus {
      border: 1px solid #f95657;
      // box-shadow: inset 0 0 15px 0 rgba(249, 86, 87, 0.3);
    }
  }

  &:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
  }
}
