svg.sp-chart-donut {
  .transform(rotate(-90deg));
}


& {
  .keyframes(sp-chart-donut-animation, {
    from {
      stroke-dashoffset: 0;
    }
  }
  )
}

.sp-chart-donut-animation {
  stroke-dasharray: 90 * 3.14 * 1;
  stroke-dashoffset: 90 * 3.14 * 2;
  .animation(sp-chart-donut-animation 1s ease-out forwards);
}
