.sp-diagram {
  content: "";
  display: block;
  min-height: 1rem;
  width: 100%;
  min-width: 100%;

  background: #5c6199; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #5c6199, #2196f3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #5c6199, #2196f3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #5c6199, #2196f3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5c6199, #2196f3); /* Standard syntax */
}
