.sp-dropdown2 {
  background: #fff;
  position: absolute;
  // border: 1px solid @popup-border-color;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;

  pointer-events: all !important;

  color: #666;

  background-color: #fff;
  .box-shadow(0px 2px 2px 1px rgba(0, 0, 0, 0.1));
}

.sp-dropdown2-menu, .sp-menu-item {
  & > .sp-item, & > .scrollable-menu > .sp-item {
    cursor: pointer;

    pointer-events: all;

    outline: none;

    .transition(color 0.2s, background-color 0.2s);

    &:hover, &:focus {
      background-color: #eee;

      outline: none;
    }

    &:active, &.active {
      background-color: #2b9bf4;
      color: #fff;

      outline: none;

      &:hover, &:focus {
        background-color: #75bbf2;
      }
    }

    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  & > .sp-header, & > .scrollable-menu > .sp-header {
    color: #8da2a8;
  }
}

.sp-dropdown2-item {
  &:not(.open) {
    .sp-dropdown2-on-open {
      display: none;
    }
  }

  &.open {
    .sp-dropdown2-on-not-open {
      display: none;
    }
  }
}

.sp-item.sp-dropdown2-item.open {
  background-color: #fff;

  .box-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.1));
}

.sp-input-group.sp-dropdown2-item {
  cursor: pointer;

  pointer-events: all;

  .transition(opacity 0.2s, box-shadow 0.2s);

  .box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0.1));

  &:hover, &:focus {
    opacity: 0.8;
  }

  &:active, &.active {
    opacity: 0.6;
  }
}

.sp-input-group.sp-dropdown2-item.open {
  opacity: 0.8;
  cursor: default;

  .box-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.1));

  &.indigo {
    & > *:first-child {
      border-bottom-left-radius: 0rem;
    }

    & > *:last-child {
      border-bottom-right-radius: 0rem;
    }
  }
}

.sp-input-group-addon.sp-dropdown2-item {
  cursor: pointer;

  pointer-events: all;

  .transition(opacity 0.2s, box-shadow 0.2s);

  .box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0.1));

  &:hover, &:focus {
    opacity: 0.8;
  }

  &:active, &.active {
    opacity: 0.6;
  }
}

.sp-input-group.open .sp-input-group-addon.sp-dropdown2-item {
  opacity: 0.8;
  cursor: default;

  .box-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.1));

  &.indigo {
    & > *:first-child {
      border-bottom-left-radius: 0rem;
    }

    & > *:last-child {
      border-bottom-right-radius: 0rem;
    }
  }
}
