.sp-dropdown {
  position: relative;

  & > .sp-dropdown-menu {
    position: absolute;

    &:not(.pull-right) {
      left: 0;
    }

    &.pull-right {
      right: 0;
    }

    // display: none;

    overflow: hidden;
    height: 0;
    width: 0;

    opacity: 0;
    pointer-events: none;
    .transition(opacity 0.2s);

    min-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
    border: none;

    background-color: #fff;
    .box-shadow(0px 2px 2px 1px rgba(0, 0, 0, 0.1));

    & > .sp-item, & > .scrollable-menu > .sp-item {
      cursor: pointer;

      pointer-events: all;

      .transition(color 0.2s, background-color 0.2s);

      &:hover, &:focus {
        background-color: #eee;
      }

      &:active, &.active {
        background-color: #2b9bf4;
        color: #fff
      }
    }

    & > .sp-header, & > .scrollable-menu > .sp-header {
      color: #8da2a8;
    }
  }

  &.open {
    z-index: 1;

    & > .sp-dropdown-menu {
      // display: block;
      overflow: visible;
      height: auto;
      width: auto;

      opacity: 1;
      pointer-events: all;
    }
  }
}
