.sp-form {
  position: relative;
  background-color: #dce5ee;
  box-sizing: border-box;

  border: 2rem solid #f2f6f8;
  .box-shadow(0 0 0 1px #dce5ee);

  &::before {
    display: block;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .box-shadow(0 0 10rem 0 #2196f3);
  }

  .sp-form-logo {
    text-align: center;
    position: absolute;
    top: 0;
    width: auto;
    background-color: #f2f6f8;
    left: 50%;
    padding: 0 2rem;
    white-space: nowrap;

    .transform(translateX(-50%) translateY(calc(-100% - 5rem)));

    .sp-header {
      &:extend(h4);
      font-weight: 600;
    }
  }
}
