.sp-horizontal-layout {
  display: table;

  & > *:not(.modal):not(.popover) {
    display: table-cell;
    vertical-align: top;
    padding: 0;

    &:last-child {
      width: 100%;
    }
  }

  & > .sp-space {
    margin: 0;
    padding: 0;
    content: "";
    overflow: hidden;
    width: 0.25rem;
    max-width: 0.25rem;
    min-width: 0.25rem;
    height: 100%;
    background-color: transparent;
  }
}

&.sp-horizontal-scroll {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
}
