.sp-image {
  pointer-events: all;
  position: relative;

  & > img {
    width: 100%;
    height: 100%;
    border: none;
  }

  &::after {
    height: 1.8rem;
    width: 1.8rem;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 2px solid rgba(0, 174, 239, .15);
    border-right: 2px solid rgba(0, 174, 239, .15);
    border-bottom: 2px solid rgba(0, 174, 239, .15);
    border-top: 2px solid rgba(0, 174, 239, .8);
    border-radius: 100%;

    position: absolute !important;
    left: 50%;
    top: 50%;
    .transition(opacity 0.2s);
    // z-index: 11;
    content: "";

    opacity: 0;
    pointer-events: none;
  }

  &::before {
    height: 2.2rem;
    width: 2.2rem;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    .transition(opacity 0.2s);
    // z-index: 10;
    border-radius: 100%;
    content: "";

    opacity: 0;
    pointer-events: none;

    background-color: rgba(255, 255, 255, 0.9);
  }

  &.overflow-hidden {
    overflow: hidden;
  }

  &.overflow-visible {
    overflow: visible;
  }

  &[loading], &.loading {
    color: transparent;
    pointer-events: none;

    &::after  {
      opacity: 1;
    }
  }
}