.sp-inlines {
  display: block;

  & > * {
    display: inline-block;
  }

  &:not(.sp-pinned) {
    &.sp-strict {
      & > *:first-child:nth-last-child(1) {
        width: 100%;
      }

      /* two items */
      & > *:first-child:nth-last-child(2),
      & > *:first-child:nth-last-child(2) ~ * {
        width: 50%;
      }

      /* three items */
      & > *:first-child:nth-last-child(3),
      & > *:first-child:nth-last-child(3) ~ * {
        width: 33.3333%;
      }

      /* four items */
      & > *:first-child:nth-last-child(4),
      & > *:first-child:nth-last-child(4) ~ * {
        width: 25%;
      }

      /* five items */
      & > *:first-child:nth-last-child(5),
      & > *:first-child:nth-last-child(5) ~ * {
        width: 20%;
      }
    }

    &.sp-should-1 > * {
      width: 100% !important;
    }

    &.sp-should-2 > * {
      width: 50% !important;
    }

    &.sp-should-3 > * {
      width: 33.3333% !important;
    }

    &.sp-should-4 > * {
      width: 25% !important;
    }

    &.sp-should-5 > * {
      width: 20% !important;
    }

    @media screen and (max-width: @pc) {
      &.sp-pc-1 > * {
        width: 100% !important;
      }

      &.sp-pc-2 > * {
        width: 50% !important;
      }

      &.sp-pc-3 > * {
        width: 33.3333% !important;
      }

      &.sp-pc-4 > * {
        width: 25% !important;
      }

      &.sp-pc-5 > * {
        width: 20% !important;
      }
    }

    @media screen and (max-width: @tablet) {
      &.sp-tablet-1 > * {
        width: 100% !important;
      }

      &.sp-tablet-2 > * {
        width: 50% !important;
      }

      &.sp-tablet-3 > * {
        width: 33.3333% !important;
      }

      &.sp-tablet-4 > * {
        width: 25% !important;
      }

      &.sp-tablet-5 > * {
        width: 20% !important;
      }
    }

    @media screen and (max-width: @mobile) {
      &.sp-mobile-1 > * {
        width: 100% !important;
      }

      &.sp-mobile-2 > * {
        width: 50% !important;
      }

      &.sp-mobile-3 > * {
        width: 33.3333% !important;
      }

      &.sp-mobile-4 > * {
        width: 25% !important;
      }

      &.sp-mobile-5 > * {
        width: 20% !important;
      }
    }
  }

  &.sp-pinned-alt {
    & > * {
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
    }
  }

  &.sp-pinned {
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;

    -moz-column-fill: auto;
    -webkit-column-fill: auto;
    column-fill: auto;

    & > * {
      width: 100% !important;
      -moz-column-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      column-break-inside: avoid;
    }

    &.sp-should-1 {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }

    &.sp-should-2 {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }

    &.sp-should-3 {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }

    &.sp-should-4 {
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4;
    }

    &.sp-should-5 {
      -moz-column-count: 5;
      -webkit-column-count: 5;
      column-count: 5;
    }

    @media screen and (max-width: @pc) {
      &.sp-pc-1 {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
      }

      &.sp-pc-2 {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
      }

      &.sp-pc-3 {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
      }

      &.sp-pc-4 {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
      }

      &.sp-pc-5 {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
      }
    }

    @media screen and (max-width: @tablet) {
      &.sp-tablet-1 {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
      }

      &.sp-tablet-2 {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
      }

      &.sp-tablet-3 {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
      }

      &.sp-tablet-4 {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
      }

      &.sp-tablet-5 {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
      }
    }

    @media screen and (max-width: @mobile) {
      &.sp-mobile-1 {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
      }

      &.sp-mobile-2 {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
      }

      &.sp-mobile-3 {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
      }

      &.sp-mobile-4 {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
      }

      &.sp-mobile-5 {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
      }
    }
  }
}
