@sp-top-bar-height: 6.5rem;
@sp-left-bar-min-width: 20rem;

.sp-layout {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  font-size: 1.2rem;
  line-height: 1.2rem;

  vertical-align: top;

  .unselectable;

  & > * {
    display: table-row;
    margin: 0;
    padding: 0;
    width: 100%;

    &:first-child {
      height: @sp-top-bar-height;
    }
  }

  & > * > * {
    display: table-cell;
    vertical-align: top;
    margin: 0;
    padding: 0;
  }

  & > * {
    & > *:first-child {
      width: @sp-left-bar-min-width;
      min-width: @sp-left-bar-min-width;
    }

    & > *:last-child {
      width: 100%;
    }
  }
}
