@sp-left-bar-item-font-heigth: 1.1rem;
@sp-left-bar-item-heigth: 3.0rem;

.sp-left-menu {
  height: 100%;
  background-color: #0e1b1d;
  color: #617681;

  & > .sp-item {
    position: relative;
    display: table;
    width: 100%;

    font-size: @sp-left-bar-item-font-heigth;
    font-weight: 400;

    cursor: pointer;

    pointer-events: all;

    .transition(background-color 0.2s);
    .will-change(background-color);

    & > *:first-child {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      height: @sp-left-bar-item-heigth;
      width: 100%;
      .padding-left-2;

      cursor: pointer;

      color: #617681;

      .transition(background-color 0.2s, color 0.2s);
      .will-change(background-color, color);

      & > .fa {
        margin-right: 1rem;
      }

      img {
        .transition(opacity 0.2s);
        .will-change(opacity);

        opacity: 0.6;
        height: 1.2rem;
        margin-right: 1rem;
      }

      &:after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0.25rem;
        background-color: transparent;
        .transition(background-color 0.2s);
        .will-change(background-color);
      }

      & > .bud {
        color: #fff;
        background-color: #ff5252;
        position: absolute;
        right: 0;
        top: 50%;
        right: 2rem;
        width: auto;
        height: auto;
        padding: 0.2rem 0.6rem;
        border-radius: 1rem;
        transform: translateY(-50%);
      }
    }

    &:hover, &:focus, &.focus {
      & > *:first-child {
        color: #ecf2f4;

        img {
          opacity: 1;
        }

        &:after {
          background-color: #1462a1;
        }
      }

      & > .sp-submenu {
        & > .sp-item, & > .sp-group {
          & > *:first-child {
            color: #617681;
          }
        }

        & > .sp-group {
          &::before {
            color: #617681;
          }

          & > .sp-item {
            & > *:first-child {
              color: #617681;
            }
          }
        }

        & > .sp-group.sp-danger {
          &::after {
            background-color: #FC5457;
          }

          &::before {
            color: #FC5457;
          }

          & > .sp-item {
            & > *:first-child {
              color: #FC5457;
            }
          }
        }

        & > .sp-group.sp-yellow {
          &::after {
            background-color: #FCD55E;
          }

          &::before {
            color: #FCD55E;
          }

          & > .sp-item {
            & > *:first-child {
              color: #FCD55E;
            }
          }
        }

        & > .sp-group.sp-pink {
          &::after {
            background-color: #B49FDC;
          }

          &::before {
            color: #B49FDC;
          }

          & > .sp-item {
            & > *:first-child {
              color: #B49FDC;
            }
          }
        }

        & > .sp-group.sp-swamp {
          &::after {
            background-color: #80cbc4;
          }

          &::before {
            color: #80cbc4;
          }

          & > .sp-item {
            & > *:first-child {
              color: #80cbc4;
            }
          }
        }
      }
    }

    &.actived {
      & > *:first-child {
        &:after {
          background-color: #2196f3;
        }
      }
    }

    &:active, &.active {
      & > *:first-child {
        color: #ecf2f4;

        img {
          opacity: 1;
        }

        &:after {
          background-color: #2196f3;
        }
      }
    }

    & > .sp-submenu {
      display: none !important;

      & > .sp-item, & > .sp-group {
        // .transition(opacity 0.1s);

        & > *:first-child {
          color: #3d4d55;
        }

        // opacity: 0.8;
      }

      & > .sp-item, & > .sp-group > .sp-item {
        position: relative;

        cursor: pointer;

        pointer-events: all;

        & > *:first-child {
          position: relative;
          display: table-cell;
          vertical-align: middle;
          height: @sp-left-bar-item-heigth;
          width: 100%;
          .padding-left-2;

          color: #3d4d55;

          .transition(color 0.2s);
          .will-change(color);

          & > .fa {
            margin-right: 0.3rem;
          }

          &:before {
            display: inline-block;
            font-size: 1.6rem;
            line-height: 0;
            transform: translateY(0.2rem);
            content: "\2022";
            .padding-right-1;
            background-color: transparent;
            .transition(background-color 0.2s);
            .will-change(background-color);
          }
        }

        &:hover, & > &:focus, & > &.focus {
          color: #145a91;

          & > *:first-child {
            color: #145a91;
          }
        }

        &:active, &.active {
          color: #2196f3;

          & > *:first-child {
            color: #2196f3;
          }
        }

        & > .bud {
          color: #fff;
          background-color: #ff5252;
          position: absolute;
          right: 0;
          top: 50%;
          right: 2rem;
          width: auto;
          height: auto;
          padding: 0.3rem 0.6rem;
          border-radius: 1rem;
          font-size: 1.1rem;
          line-height: 1.2rem;

          transform: translateY(-50%);
        }
      }

      & > .sp-group {
        position: relative;

        display: table;

        &::after {
          display: block;
          position: absolute;
          content: "";
          pointer-events: none;

          // background-color: #FC5457;

          left: 0;
          top: 50%;

          width: 0.25rem;
          height: calc(100% - 1rem);

          transform: translateY(-50%);

          .transition(background-color 0.2s);
          .will-change(background-color);
        }

        &::before {
          display: block;
          position: absolute;
          content: attr(data-label);
          pointer-events: none;

          left: 0;
          top: 50%;

          transform: translateY(-50%) translateX(-0.20rem) rotateZ(-90deg);

          color: #FC5457;
          font-size: 0.9rem;
          line-height: 0rem;
          font-weight: 500;
          padding-top: 0;

          .transition(color 0.2s);
          .will-change(color);
        }
      }

      & > .sp-group {

        &::before {
          color: #3d4d55;
        }

        & > .sp-item {
          & > *:first-child {
            color: #3d4d55;
          }

          &:hover, & > &:focus, & > &.focus {
            & > *:first-child {
              color: #145a91;
            }
          }

          &:active, &.active {
            & > *:first-child {
              color: #2196f3;
            }
          }
        }
      }

      & > .sp-group.sp-danger {

        &::after {
          background-color: #ac3a3c;
        }

        &::before {
          color: #ac3a3c;
        }

        & > .sp-item {
          & > *:first-child {
            color: #ac3a3c;
          }

          &:hover, & > &:focus, & > &.focus {
            & > *:first-child {
              color: #b03f42;
            }
          }

          &:active, &.active {
            & > *:first-child {
              color: #fbb9ba;
            }
          }
        }
      }

      & > .sp-group.sp-yellow {

        &::after {
          background-color: #ad9342;
        }

        &::before {
          color: #ad9342;
        }

        & > .sp-item {
          & > *:first-child {
            color: #ad9342;
          }

          &:hover, & > &:focus, & > &.focus {
            & > *:first-child {
              color: #b0943f;
            }
          }

          &:active, &.active {
            & > *:first-child {
              color: #f7e5ae;
            }
          }
        }
      }

      & > .sp-group.sp-pink {

        &::after {
          background-color: #776990;
        }

        &::before {
          color: #776990;
        }

        & > .sp-item {
          & > *:first-child {
            color: #776990;
          }

          &:hover, & > &:focus, & > &.focus {
            & > *:first-child {
              color: #80729c;
            }
          }

          &:active, &.active {
            & > *:first-child {
              color: #d5cbe7;
            }
          }
        }
      }

      & > .sp-group.sp-swamp {

        &::after {
          background-color: #50817c;
        }

        &::before {
          color: #50817c;
        }

        & > .sp-item {
          & > *:first-child {
            color: #50817c;
          }

          &:hover, & > &:focus, & > &.focus {
            & > *:first-child {
              color: #63938e;
            }
          }

          &:active, &.active {
            & > *:first-child {
              color: #d2e9e7;
            }
          }
        }
      }

      &.show {
        display: table-row !important;
      }
    }

    & > input.sp-toggle {
      display: none;
    }

    & > input.sp-toggle:checked + .sp-submenu {
      display: table-row !important;
    }

    &.active {
      background-color: #081315;

      & > .sp-submenu {
        display: table-row !important;
      }
    }
  }
}
