.sp-logo {
  background-color: #fff;

  & > * {
    display: table;
    height: 100%;

    & > * {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    .sp-logo-container {
      width: auto;
      display: inline-block;

      & > * {
        display: table-cell;
        vertical-align: middle;
      }

      img {
        height: 3.25rem;
      }

      .sp-header {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: left;

        & > * {
          display: inline-block;
          line-height: 1.7rem;
        }

        & > *:first-child {
        }
      }
    }
  }
}
