@sp-menu-height: 4.25rem;

.sp-menu {
  height: @sp-menu-height;

  color: #0e1b1d;

  & > * {
    display: table;
    height: 100%;

    font-size: 1.15rem;
    font-weight: 500;

    & > * > .dropdown > *:not(.dropdown-menu) {
      display: table;
      height: 100%;
      width: 100%;
    }

    & > *, & > * > .dropdown > *:not(.dropdown-menu) > .sp-item {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;

      padding: 0;

      img {
        height: 1.8rem;
      }
    }

    & > .sp-table {
      height: 100%;
      width: auto;
      padding: 0;
    }

    & > * > .dropdown {
      display: table;
      height: 100%;

      padding: 0;
      margin: 0;

      & > *:not(.dropdown-menu) {
        display: table;
      }

      &.open {
        & > *:not(.dropdown-menu) {
          cursor: default;
          background-color: transparent;
        }

        background-color: #fff;
        .box-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.1));
      }
    }

    & > .sp-square {
      width: @sp-menu-height;
      min-width: @sp-menu-height;
      text-align: center;
    }

    & > .sp-item, & > * > .dropdown > * > .sp-item {
      position: relative;
      height: 100%;
      font-size: 1.15rem;
      font-weight: 500;
      white-space: nowrap;
      padding: 0 1rem;

      background-color: transparent;

      outline: none;

      cursor: pointer;

      pointer-events: all;

      .transition(background-color 0.2s);
      .will-change(background-color);

      & > .bud {
        color: #fff;
        background-color: #ff5252;
        position: absolute;
        right: 0;
        top: 1rem;
        right: 1rem;
        width: auto;
        height: auto;
        padding: 0.2rem 0.6rem;
        border-radius: 1rem;

        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
      }

      & > .fa {
        color: #2b9bf4;
        margin-right: 0.5rem;
      }

      &:hover, &:focus, &.focus {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:active, &.active {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &::after {
        height: 1.8rem;
        width: 1.8rem;
        -webkit-animation: rotation .6s infinite linear;
        -moz-animation: rotation .6s infinite linear;
        -o-animation: rotation .6s infinite linear;
        animation: rotation .6s infinite linear;
        border-left: 2px solid rgba(0, 174, 239, .15);
        border-right: 2px solid rgba(0, 174, 239, .15);
        border-bottom: 2px solid rgba(0, 174, 239, .15);
        border-top: 2px solid rgba(0, 174, 239, .8);
        border-radius: 100%;

        position: absolute !important;
        left: 50%;
        top: 50%;
        .transition(opacity 0.2s);
        // z-index: 11;
        content: "";

        opacity: 0;
        pointer-events: none;
      }

      &::before {
        height: 2.2rem;
        width: 2.2rem;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        .transition(opacity 0.2s);
        // z-index: 10;
        border-radius: 100%;
        content: "";

        opacity: 0;
        pointer-events: none;

        background-color: rgba(255, 255, 255, 0.9);
      }

      &[loading], &.loading {
        pointer-events: none;

        &::after  {
          opacity: 1;
        }

        &::before  {
          opacity: 1;
        }
      }
    }

    & > * > .dropdown > .dropdown-menu {
      input.form-control {
        font-weight: 400 !important;
      }
    }

    & > * > .sp-enum {
      display: table;
      padding: 0;

      border-radius: 10rem;
      background-color: #fff;

      height: 3rem;

      & > .sp-item {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        min-width: 3rem;
        text-align: center;

        padding-left: 0.5rem;
        padding-right: 0.5rem;

        border-radius: 10rem;

        cursor: pointer;

        pointer-events: all;

        .box-shadow(0 0 0 0rem #2196f3);

        .transition(opacity 0.2s, color 0.2s, background-color 0.2s, box-shadow 0.2s);
        .will-change(opacity, color, background-color, box-shadow);

        &:focus, &:hover, &.hover {
          opacity: 0.5;
          color: #fff;
          background-color: #2196f3;
        }

        &:active, &.active {
          color: #fff;
          background-color: #2196f3;
          .box-shadow(0 0 0 0.1rem #2196f3);
        }
      }
    }

    & > .sp-header {
      white-space: nowrap;
      font-size: 1.4rem;
      font-weight: 500;
      padding: 0 1rem;
    }

    & > .sp-space {
      width: 100%;
    }

    & > .sp-divider {
      position: relative;
      padding: 0;

      &:after {
        content: "";
        position: absolute;
        height: 2.25rem;
        width: 1px;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    & > .sp-input {
      position: relative;
      white-space: nowrap;
      padding: 0 1rem;

      img, .glyphicon, .fa {
        position: absolute;
        height: 1.0rem;
        top: 50%;
        left: 2.25rem;
        transform: translateY(-50%);
        color: #a8bbc0;
      }

      input {
        font-size: 1rem;
        border-radius: 10rem;

        color: #333;

        outline: none;
        padding: 0.75rem 1.25rem 0.75rem 2.75rem;

        .transition(border 0.2s);
        .will-change(border);

        pointer-events: all;

        border: 1px solid transparent;

        &::-webkit-input-placeholder {
          color: #a8bbc0;
        }

        &:-moz-placeholder {
          color: #a8bbc0;
        }

        &::-moz-placeholder {
          color: #a8bbc0;
        }

        &:-ms-input-placeholder {
          color: #a8bbc0;
        }

        &:focus {
          border: 1px solid #2196f3;
        }
      }
    }
  }
}
