.sp-modal-back {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.4);

  opacity: 0;

  will-change: opacity;

  pointer-events: all;

  &.sp-over-all {
    z-index: 99;
  }
}

.sp-dialog {
  position: absolute;

  top: 2rem;
  padding-bottom: 2rem !important;

  left: 50%;
  .transform(translateX(-50%));
}

.sp-modal {
  pointer-events: all;

  background-color: #fff;

  & > .sp-message {
    background-color: #FC5457;
    color: #E7E7E7;
  }

  min-width: 60vw;

  @media screen and (max-width: @mobile) {
    width: 80vw;
    max-width: 80vw;
  }
  @media screen and (min-width: @mobile) and (max-width: @tablet) {
    width: 80vw;
    max-width: 80vw;
  }
  @media screen and (min-width: @tablet) and (max-width: @pc) {
    width: 60vw;
    max-width: 60vw;
  }
  @media screen and (min-width: @pc) and (max-width: @ultra) {
    width: 60vw;
    max-width: 60vw;
  }
  @media screen and (min-width: @ultra) {
    width: 60vw;
    max-width: 60vw;
  }

  &.sp-quiz {
    background-color: #E6E6E6;

    min-width: 40vw;

    @media screen and (max-width: @mobile) {
      width: auto;
      max-width: 85vw;
    }
    @media screen and (min-width: @mobile) and (max-width: @tablet) {
      width: auto;
      max-width: 80vw;
    }
    @media screen and (min-width: @tablet) and (max-width: @pc) {
      width: auto;
      max-width: 40vw;
    }
    @media screen and (min-width: @pc) and (max-width: @ultra) {
      width: auto;
      max-width: 40vw;
    }
    @media screen and (min-width: @ultra) {
      width: auto;
      max-width: 40vw;
    }
  }

  &.sp-large {
    @media screen and (max-width: @mobile) {
      width: 85vw;
      max-width: 85vw;
    }
    @media screen and (min-width: @mobile) and (max-width: @tablet) {
      width: 80vw;
      max-width: 80vw;
    }
    @media screen and (min-width: @tablet) and (max-width: @pc) {
      width: 80vw;
      max-width: 80vw;
    }
    @media screen and (min-width: @pc) and (max-width: @ultra) {
      width: 80vw;
      max-width: 80vw;
    }
    @media screen and (min-width: @ultra) {
      width: 80vw;
      max-width: 80vw;
    }
  }

  &.sp-full {
    @media screen and (max-width: @mobile) {
      width: 97vw;
      max-width: 97vw;
    }
    @media screen and (min-width: @mobile) and (max-width: @tablet) {
      width: 97vw;
      max-width: 97vw;
    }
    @media screen and (min-width: @tablet) and (max-width: @pc) {
      width: 97vw;
      max-width: 97vw;
    }
    @media screen and (min-width: @pc) and (max-width: @ultra) {
      width: 97vw;
      max-width: 97vw;
    }
    @media screen and (min-width: @ultra) {
      width: 97vw;
      max-width: 97vw;
    }
  }

  &.sp-auto {
    width: auto !important;
    max-width: none !important;
  }
}
