.sp-module {
  position: relative;

  & > *:not(.message) {
    .transition(opacity 0.2s);
    .will-change(opacity);
  }

  & > .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    pointer-events: none;

    opacity: 0;

    text-align: center;

    .transition(opacity 0.2s);
    .will-change(opacity);

    .loader {
      top: auto;
      // bottom: -2rem;
      height: 2.5rem;
      width: 2.5rem;
      border-width: 3px;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    // background-color: rgba(255, 255, 255, 0.4);

    content: '';

    // opacity: 0;

    .transition(opacity 0.2s);
    .will-change(opacity);

    pointer-events: none;
  }

  &.loading {
    & > *:not(.message) {
      opacity: 0.4;
    }

    & > .message {
      opacity: 1;
    }

    &::after {
      pointer-events: all;
    }
  }
}
