@pagination-height: 3rem;

.sp-pagination {
  display: table !important;
  background-color: #fff;
  // width: 100%;

  border-spacing: 0 !important;
  border-collapse: separate;

  height: @pagination-height;

  text-align: center;

  .transition(opacity 0.2s);
  .will-change(opacity);

  margin: 0.5rem 0.5rem;
  padding: 0;

  & > .sp-item {
    display: table-cell;
    margin: 0;
    padding: 0;
  }

  & > .sp-item > * {
    width: 100%;
    height: 100%;
    display: block;
    line-height: @pagination-height;

    vertical-align: middle;

    width: @pagination-height;
    min-width: @pagination-height;

    color: #2196f3;

    .transition(color 0.2s, background-color 0.2s);
    .will-change(color, background-color);
  }

  & > .sp-item {

    cursor: pointer;

    pointer-events: all;

    &.active, &.disabled, &[disabled] {
      pointer-events: none;
    }

    &.disabled > *, &[disabled] > * {
      color: inherit;
    }

    &:hover > *, &:focus > *, &.focus > * {
      color: #fff;
      background-color: lighten(#2196f3, 20%);
    }

    &:active > *, &.active > * {
      color: #fff;
      background-color: #2196f3;
    }
  }

  &.loading {
    opacity: 0.4;

    & > .sp-item {
      pointer-events: none;
    }
  }

  & > .sp-space {
    display: table-cell;
    width: 100%;
  }
}
