.sp-pane {
  background-color: #fff;

  // font-weight: 400;

  &:not(.sp-noshadow) {
    .box-shadow(0px 0px 2px 0px rgba(0, 0, 0, 0.05));
  }

  // & > .sp-header {
  //   color: #2196f3;
  //   font-size: 1.35rem;
  // }

  //   & > .sp-header {
  //     .padding-horizontal-2;
  //
  //     .box-md;
  //     .text.bold;
  //   }

  & > .sp-pane-header {
    display: block;
    position: relative;

    width: 100%;
    height: 3rem;
    .unselectable;

    font-size: 1.0rem;
    font-weight: 600;
    padding: 0.75rem 1.0rem;

    background-color: #eee;

    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    // border-bottom: 1px solid @divider-color;

    & > .sp-header-toolbar {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;

      transform: translateY(-50%);

      white-space: nowrap;

      .sp-button {
        display: inline-block;

        cursor: pointer;

        pointer-events: all;

        opacity: 0.6;

        padding: 0.75rem 1.0rem;

        &:focus, &:hover, &.hover {
          opacity: 1;
        }

        &:active, &.active {
          transform: translateY(1px);
        }
      }
    }

    &.sp-accord {
      cursor: pointer;

      pointer-events: all;

      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;

      .transition(border-radius 0.2s, background-color 0.2s);
      .will-change(border-radius, background-color);

      & > .sp-header-toolbar {
        .sp-button {
          pointer-events: none;
        }
      }

      &:focus, &:hover {
        background-color: #e7eef2;
      }

      &:active {
        background-color: #ebf4fa;

        & > .sp-header-toolbar {
          .sp-button {
            transform: translateY(1px);
          }
        }
      }

      &.active {
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 0rem;
      }
    }
  }
}

.sp-pane-tab {
  display: inline-block;
  width: auto;

  .text.thick;
  .padding-d2;

  .transition(background-color 0.2s, color 0.2s, box-shadow 0.2s, opacity 0.2s);
  .will-change(background-color, color, box-shadow, opacity);

  &:not(.active) {
    .text.blue;
    cursor: pointer;

    pointer-events: all;

    // .text.thin;
  }

  &:focus, &:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &:active, &.active {
    background-color: rgba(255, 255, 255, 1);
    .box-shadow(-2px -1px 1px -1px rgba(0, 0, 0, 0.05), 2px -1px 1px -1px rgba(0, 0, 0, 0.05));
  }

  &:active {
    opacity: 0.85;
  }
}

@divider-color: #999;

.sp-panes {

  .sp-pane {
    // display: inline-block;
    // min-width: 10rem;
    // max-width: 100rem;
    // width: auto;
    height: auto !important;

    border-radius: 0.25rem;
    border: 1px solid #eee;
    box-sizing: border-box;

    background: #fff;
    color: #666;

    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);

    & > .sp-pane-header {
      pointer-events: all;

      cursor: move;

      .unselectable;
    }
  }
}

.scrollable-horizontal {
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;

  pointer-events: all;

  width: 100%;
  max-width: 100%;
  height: 100%;
}
