@popup-border-color: #ddd;

.sp-popup-back {
  pointer-events: none;

  opacity: 0;

  will-change: opacity;

  .sp-popup {
    background: #fff;
    position: absolute;
    border-radius: 0.25rem;
    border: 1px solid @popup-border-color;
    vertical-align: middle;
    box-sizing: border-box;
    display: inline-block;

    pointer-events: all !important;

    color: #666;

    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: @mobile) {
      width: 80vw;
      max-width: 80vw;
    }
    @media screen and (min-width: @mobile) and (max-width: @tablet) {
      width: 80vw;
      max-width: 80vw;
    }
    @media screen and (min-width: @tablet) and (max-width: @pc) {
      width: 300px;
      max-width: 300px;
    }
    @media screen and (min-width: @pc) and (max-width: @ultra) {
      width: 300px;
      max-width: 300px;
    }
    @media screen and (min-width: @ultra) {
      width: 300px;
      max-width: 300px;
    }

    &.sp-large {
      @media screen and (max-width: @mobile) {
        width: auto;
        max-width: 85vw;
      }
      @media screen and (min-width: @mobile) and (max-width: @tablet) {
        width: auto;
        max-width: 80vw;
      }
      @media screen and (min-width: @tablet) and (max-width: @pc) {
        width: auto;
        max-width: 80vw;
      }
      @media screen and (min-width: @pc) and (max-width: @ultra) {
        width: auto;
        max-width: 80vw;
      }
      @media screen and (min-width: @ultra) {
        width: auto;
        max-width: 80vw;
      }
    }

    &.sp-auto {
      width: auto !important;
      max-width: none !important;
    }
  }

  .sp-popup .barrow.right {
    content: "";
    display: block;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid @popup-border-color;
    position: absolute;
    left: -9px;
  }

  .sp-popup .farrow.right {
    content: "";
    display: block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fff;
    position: absolute;
    left: -8px;
  }

  .sp-popup .barrow.left {
    content: "";
    display: block;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid @popup-border-color;
    position: absolute;
    right: -9px;
  }

  .sp-popup .farrow.left {
    content: "";
    display: block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff;
    position: absolute;
    right: -8px;
  }

  .sp-popup .barrow.bottom {
    content: "";
    display: block;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid @popup-border-color;
    position: absolute;
    top: -9px;
  }

  .sp-popup .farrow.bottom {
    content: "";
    display: block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -8px;
  }

  .sp-popup .barrow.top {
    content: "";
    display: block;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid @popup-border-color;
    position: absolute;
    bottom: -9px;
  }

  .sp-popup .farrow.top {
    content: "";
    display: block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    position: absolute;
    bottom: -8px;
  }
}
