@sp-progress-width: 0.55rem;

& {
  .keyframes(sp-progress, {
    from {
      width: 0;
    }
  }
  )
}

& {
  .keyframes(sp-progress-label, {
    from {
      opacity: 0;
    }
  }
  )
}

.sp-progress {
  height: @sp-progress-width;
  border-radius: 1rem;

  background-color: #ECF2F4;

  text-align: left;

  .sp-value {
    position: relative;
    height: 100%;
    border-radius: 1rem;
    display: inline-block;

    background-color: #2B98F0;

    .transition(width 0.5s);
    .animation(sp-progress 1s ease-out forwards);

    &::after {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-100%) translateX(50%);
      content: attr(data-label);
      padding: 0.75rem;
      color: #2B98F0;
      pointer-events: none;
      .animation(sp-progress-label 1s ease-out forwards);
    }
  }

  &.sp-purple {
    background-color: #ECF2F4;

    .sp-value {
      background-color: #5B6298;

      &::after {
        color: #5B6298;
      }
    }
  }

  &.sp-green {
    background-color: #ECF2F4;

    .sp-value {
      background-color: #AFE82E;

      &::after {
        color: #AFE82E;
      }
    }
  }

  &.sp-red {
    background-color: #ECF2F4;

    .sp-value {
      background-color: #FA5356;

      &::after {
        color: #FA5356;
      }
    }
  }
}

& {
  .keyframes(sp-progress-vertical, {
    from {
      height: 0;
    }
  }
  )
}

& {
  .keyframes(sp-progress-vertical-label, {
    from {
      opacity: 0;
    }
  }
  )
}

.sp-progress-vertical {
  width: @sp-progress-width;
  height: 100%;
  min-height: 10rem;
  border-radius: 1rem;

  background-color: #ECF2F4;

  text-align: left;

  position: relative;

  .sp-value {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 1rem;
    display: inline-block;

    background-color: #2B98F0;

    .transition(height 0.5s);
    .animation(sp-progress-vertical 1s ease-out forwards);

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-50%) translateX(-100%);
      content: attr(data-label);
      padding: 0.75rem;
      color: #2B98F0;
      pointer-events: none;
      .animation(sp-progress-vertical-label 1s ease-out forwards);
    }

    &.sp-label-right {
      &::after {
        right: 0;
        left: auto;
        transform: translateY(-50%) translateX(100%);
      }
    }
  }

  &.sp-purple {
    background-color: #ECF2F4;

    .sp-value {
      background-color: #5B6298;

      &::after {
        color: #5B6298;
      }
    }
  }

  &.sp-green {
    background-color: #ECF2F4;

    .sp-value {
      background-color: #AFE82E;

      &::after {
        color: #AFE82E;
      }
    }
  }

  &.sp-red {
    background-color: #ECF2F4;

    .sp-value {
      background-color: #FA5356;

      &::after {
        color: #FA5356;
      }
    }
  }
}

.sp-progress-stacked-vertical {
  width: @sp-progress-width;
  height: 100%;
  min-height: 10rem;
  border-radius: 1rem;

  background-color: #ECF2F4;

  text-align: left;

  display: table-cell;
  vertical-align: bottom;

  & > .sp-value {
    width: 100%;
    display: block;
    position: relative;

    background-color: #2B98F0;

    &:first-child {
      border-radius: 1rem 1rem 0rem 0rem;
    }

    &:last-child {
      border-radius: 0rem 0rem 1rem 1rem;
    }

    .transition(height 0.5s, box-shadow 0.2s);
    .animation(sp-progress-vertical 1s ease-out forwards);

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-50%) translateX(-100%);
      content: attr(data-label);
      padding: 0.75rem;
      color: #2B98F0;
      pointer-events: none;
      .animation(sp-progress-vertical-label 1s ease-out forwards);
    }

    .box-shadow(0px 0px 0px 0px transparent);

    &[data-toggle="tooltip"]:hover {
      .box-shadow(0px 0px 5px 1px #2B98F0);
    }

    &.sp-label-right {
      &::after {
        right: 0;
        left: auto;
        transform: translateY(-50%) translateX(100%);
      }
    }

    &.sp-purple {
      background-color: #5B6298;

      &::after {
        color: #5B6298;
      }

      &[data-toggle="tooltip"]:hover {
        .box-shadow(0px 0px 5px 1px #5B6298);
      }
    }

    &.sp-green {
      background-color: #AFE82E;

      &::after {
        color: #AFE82E;
      }

      &[data-toggle="tooltip"]:hover {
        .box-shadow(0px 0px 5px 1px #AFE82E);
      }
    }

    &.sp-red {
      background-color: #FA5356;

      &::after {
        color: #FA5356;
      }

      &[data-toggle="tooltip"]:hover {
        .box-shadow(0px 0px 5px 1px #FA5356);
      }
    }

    &.sp-yellow {
      background-color: #FDE385;

      &::after {
        color: #FDE385;
      }

      &[data-toggle="tooltip"]:hover {
        .box-shadow(0px 0px 5px 1px #FDE385);
      }
    }
  }
}
