.mixin-loop-table-k (@k, @i) when (@i > -1) {
  @vark: @k * @padding-prefix;
  @vari: @i * @padding-prefix;

  &.sp-spacing-@{k}-@{i} {
    border-spacing: ~'@{vark}rem' ~'@{vari}rem' !important;
    border-collapse: separate;
  }

  .mixin-loop-table-k(@k, @i - 1);
}

.mixin-loop-table (@i) when (@i > -1) {
  @vari: @i * @padding-prefix;

  &.sp-spacing-@{i} {
    border-spacing: ~'@{vari}rem' !important;
    border-collapse: separate;
  }

  .mixin-loop-table-k(@i, 10);

  .mixin-loop-table(@i - 1);
}

.sp-table-layout {
  display: table;
  width: 100%;

  & > * {
    display: table-row;

    & > * {
      display: table-cell;

      &.sp-align-middle {
        vertical-align: middle;
      }

      &.sp-align-top {
        vertical-align: top;
      }

      &.sp-align-bottom {
        vertical-align: bottom;
      }

      &.sp-max {
        width: 100%;
      }
    }
  }

  &.sp-align-middle {
    & > * {
      & > * {
        vertical-align: middle;
      }
    }
  }

  &.sp-align-top {
    & > * {
      & > * {
        vertical-align: top;
      }
    }
  }

  &.sp-align-bottom {
    & > * {
      & > * {
        vertical-align: bottom;
      }
    }
  }

  .mixin-loop-table(10);
}
