@sp-table-row-height: 4rem;
@border-color: #dee8ea;

.sp-table {
  color: #0e1b1d;
  font-weight: 500;
  font-size: 1.1rem;
  width: 100%;

  display: table !important;
  table-layout: auto !important;
  // table-layout: fixed !important;

  .selectable;

  &.width-auto {
    width: auto;
  }

  & {
    & > * > * > td + td {
      border-left: 1px solid @border-color;
    }

    & > * > tr + tr > td {
      border-top: 1px solid @border-color;
    }

    & > * + * > tr:first-child {
      border-top: 1px solid @border-color;
    }
  }

  &.sp-border-top {
    & > *:first-child > tr:first-child {
      border-bottom: 1px solid @border-color;
    }
  }

  &.sp-border-bottom {
    & > *:last-child > tr:last-child {
      border-bottom: 1px solid @border-color;
    }
  }

  &.sp-border-left {
    & > * > tr > td:first-child {
      border-left: 1px solid @border-color;
    }
  }

  &.sp-border-right {
    & > * > tr > td:last-child {
      border-right: 1px solid @border-color;
    }
  }

  & > * > * > td {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    height: @sp-table-row-height;
    vertical-align: middle;

    font-size: 1rem;
    line-height: 1rem;

    white-space: nowrap;

    .fa.proc-td {
      font-size: 1rem;
      line-height: 1rem;

      float: right;
    }

    * {
      vertical-align: middle;
    }
  }

  & > * > tr {
    margin: 0;
    padding: 0;
  }

  & > * > * > td.sp-mark-red {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0.32rem;
      background-color: #FC5457;
      pointer-events: none;
    }
  }

  & > * > * > td.sp-mark-yellow {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0.32rem;
      background-color: #FDAA4C;
      pointer-events: none;
    }
  }

  & > * > * > td.sp-mark-green {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0.32rem;
      background-color: #AFE82E;
      pointer-events: none;
    }
  }

  & > * > * > td.sp-mark {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0.32rem;
      background-color: attr('mark-color');
      pointer-events: none;
    }
  }

  & > thead {
    margin: 0;
    padding: 0;

    & > tr {
      background-color: @border-color;

      .transition(background-color 0.2s);
      .will-change(background-color);
    }

    & > * > td.no-border {
      background-color: transparent;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
    }

    & > * > td.pointer {
      cursor: pointer;

      pointer-events: all;

      &:hover, &:focus, &.focus {
        background-color: lighten(@border-color, 10%);
      }

      &:active, &.active {
        background-color: darken(@border-color, 10%);
      }
    }
  }

  & > tbody {
    margin: 0;
    padding: 0;

    & > tr {
      background-color: #fff;

      .transition(background-color 0.2s, opacity 0.2s);
      .will-change(background-color, opacity);

      &.active {
        background-color: lighten(@border-color, 8%);
      }
    }

    & > tr.pointer {
      cursor: pointer;

      pointer-events: all;

      outline: none;

      & > * {
        pointer-events: all;
      }

      &.error {
        background-color: #ffdbdc;
      }

      &:hover, &:focus, &.focus {
        background-color: lighten(@border-color, 5%);
      }

      &:active, &.active {
        background-color: lighten(@border-color, 8%);
      }

      &.selected {
        background-color: #ebf4ff;

        &:hover, &:focus, &.focus {
          background-color: darken(#ebf4ff, 2%);
        }

        &:active, &.active {
          background-color: darken(#ebf4ff, 4%);
        }
      }
    }

    & > tr {
      &.loading {
        opacity: 0.6;
        pointer-events: none;

        & > * {
          pointer-events: none;
        }
      }

      &.stripes {
        & > * {
          pointer-events: all;
          cursor: wait;
          background-color: rgba(230, 230, 230, 1);
        }
      }
    }
  }
}
