.sp-tag {
  display: inline-block;
  width: auto;

  border-radius: 0.5rem;
  background-color: #fff;
  color: #2196f3;
  padding: 0 1rem;
  border: 1px solid #DFE8EB;
  margin: 0 0.25rem;

  height: 2rem;
  line-height: 2rem;

  .transition(opacity 0.2s, color 0.2s, background-color 0.2s, transform 0.2s);

  & > .sp-btn {

    opacity: 0;

    color: #f5cece;

    outline: none;

    position: absolute;

    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    cursor: pointer;

    pointer-events: all;

    .transition(opacity 0.2s, color 0.2s);

    &:hover, &:focus {
      color: #f61515;

      outline: none;
    }

    &:active, &.active {
      color: #d01212;
      // background-color: #2196f3;

      outline: none;
    }
  }

  &.pointer {
    cursor: pointer;

    pointer-events: all;

    outline: none;

    &:hover, &:focus {
      // opacity: 0.7;

      outline: none;

      color: rgba(0, 0, 0, 0.1);

      & > .sp-btn {
        opacity: 1.0;
      }
    }

    &:active {
      color: transparent;

      outline: none;

      color: rgba(0, 0, 0, 0);

      & > .sp-btn {
        opacity: 1;
      }
    }
  }

  &.active {
    color: #fff;
    background-color: #2196f3;
  }

  &.purple {
    color: #fff;
    background-color: #77579F;
    border: 1px solid transparent;
  }

  &.celery {
    color: #fff;
    background-color: #9EC351;
    border: 1px solid transparent;
  }

  &.fen {
    color: #fff;
    background-color: #50BB5E;
    border: 1px solid transparent;
  }

  &.rico {
    color: #fff;
    background-color: #54B4AA;
    border: 1px solid transparent;
  }

  &.marino {
    color: #fff;
    background-color: #526FA8;
    border: 1px solid transparent;
  }

  &.sea {
    color: #2B98F1;
    background-color: #E3F3FC;
    border: 1px solid transparent;
  }
}
