.sp-top-menu {
  line-height: 1.5rem;

  & > * {
    display: table;
    height: 100%;
    width: 100%;

    & > * > .sp-dropdown > .sp-dropdown-toggle {
      display: table;
      height: 100%;
      width: 100%;
    }

    & > *, & > * > .sp-dropdown > .sp-dropdown-toggle > .sp-item {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      padding: 0 1rem;

      img {
        height: 2rem;
      }

      &.sp-big {
        font-size: 2rem;
      }
    }

    & > .sp-table {
      height: 100%;
      padding: 0;
      width: auto;
    }

    & > * > .sp-dropdown {
      display: table;
      height: 100%;

      padding: 0;
      margin: 0;

      & > .sp-dropdown-toggle {
        display: table;

        & > * {
          display: table-cell;
          vertical-align: middle;
        }
      }

      &.open {
        & > .sp-dropdown-toggle {
          cursor: default;
          background-color: transparent;
        }

        background-color: #fff;
        .box-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.1));
      }
    }

    & > .sp-dropdown > .sp-dropdown-toggle {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0 1rem;

      img {
        height: 2rem;
      }
    }

    & > .sp-square {
      width: @sp-top-bar-height;
      min-width: @sp-top-bar-height;
      text-align: center;
    }

    & > * > .sp-dropdown > .sp-dropdown-menu > .sp-item {
      color: #545f62;
    }

    & > .sp-item, & > * > .sp-dropdown > .sp-dropdown-toggle > .sp-item {
      position: relative;
      white-space: nowrap;
      padding: 0 1rem;

      color: #a8bbc0;
      background-color: transparent;

      cursor: pointer;

      pointer-events: all;

      .transition(background-color 0.2s);
      .will-change(background-color);

      .bud {
        color: #fff;
        background-color: #ff5252;
        position: absolute;
        right: 0;
        top: 1rem;
        right: 1rem;
        width: auto;
        height: auto;
        padding: 0.3rem 0.6rem;
        border-radius: 1rem;
        font-size: 1.1rem;
        line-height: 1.2rem;

        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
      }

      &:hover, &:focus, &.focus {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:active, &.active {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    & > .sp-header {
      white-space: nowrap;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0 1rem;
    }

    & > .sp-space {
      width: 100%;
    }

    & > .sp-divider {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        height: 3.25rem;
        width: 1px;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    & > .sp-input {
      position: relative;
      white-space: nowrap;
      padding: 0 1rem;

      img, .glyphicon, .fa {
        position: absolute;
        height: 1.25rem;
        top: 50%;
        left: 2.25rem;
        transform: translateY(-50%);
        color: #a8bbc0;
      }

      input {
        // font-size: 1rem;
        border-radius: 10rem;

        color: #333;

        outline: none;
        padding: 1rem 1.5rem 1rem 3rem;

        .transition(border 0.2s);
        .will-change(border);

        border: 1px solid transparent;

        pointer-events: all;

        &::-webkit-input-placeholder {
          color: #a8bbc0;
        }

        &:-moz-placeholder {
          color: #a8bbc0;
        }

        &::-moz-placeholder {
          color: #a8bbc0;
        }

        &:-ms-input-placeholder {
          color: #a8bbc0;
        }

        &:focus {
          border: 1px solid #2196f3;
        }
      }
    }

    & > .sp-avatar {
      img {
        border-radius: 4rem;
        height: 4rem;
      }

      &:hover, &:focus, &.focus {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:active, &.active {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
