.sp-vertical-layout {

  & > *:not(.modal):not(.popover) {
    display: block;
  }

  & > .sp-space {
    content: "";

    width: 100%;

    height: 0.25rem;
    max-height: 0.25rem;
    min-height: 0.25rem;
  }
}
